@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Uni Neue Black";
  src: url("../fonts/UniNeueBlack.eot");
  src: local("☺"), url("../fonts/UniNeueBlack.woff") format("woff"), url("../fonts/UniNeueBlack.ttf") format("truetype"), url("../fonts/UniNeueBlack.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Uni Neue Book";
  src: url("../fonts/UniNeueBook.eot");
  src: local("☺"), url("../fonts/UniNeueBook.woff") format("woff"), url("../fonts/UniNeueBook.ttf") format("truetype"), url("../fonts/UniNeueBook.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Uni Neue Bold";
  src: url("../fonts/UniNeueBold.eot");
  src: local("☺"), url("../fonts/UniNeueBold.woff") format("woff"), url("../fonts/UniNeueBold.ttf") format("truetype"), url("../fonts/UniNeueBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Uni Neue Heavy";
  src: url("../fonts/UniNeueHeavy.eot");
  src: local("☺"), url("../fonts/UniNeueHeavy.woff") format("woff"), url("../fonts/UniNeueHeavy.ttf") format("truetype"), url("../fonts/UniNeueHeavy.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1510px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1525px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1215px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 915px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 783px) {
  .container {
    max-width: 480px;
  }
}
@media (max-width: 495px) {
  .container {
    min-width: 320px;
  }
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  padding: 95px 0 0 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  color: #ffffff;
  font-family: "Uni Neue Black";
  font-size: 47px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -1.88px;
}
.header__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__list ul li {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 17px;
  text-align: left;
  letter-spacing: -1px;
  margin: 0 0 0 50px;
}
@media (max-width: 915px) {
  .header__list {
    display: none;
  }
}
.header__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 915px) {
  .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
}
.header__burger span {
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  background-color: #ffffff;
}
.header__menu {
  position: absolute;
  display: none;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-225deg, rgba(47, 61, 252, 0.3) 0%, rgba(100, 17, 135, 0.3) 73%, rgba(100, 17, 135, 0.3) 100%);
  background-color: #fff;
}
.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__menu ul li {
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  margin: 25px;
}

.main {
  min-height: 100vh;
  background-color: #616161;
  background-image: url(../images/backgrounds/main_bg.png), linear-gradient(-225deg, rgba(47, 61, 252, 0.3) 0%, rgba(100, 17, 135, 0.3) 73%, rgba(100, 17, 135, 0.3) 100%);
  background-repeat: no-repeat;
  background-size: cover, cover;
  overflow: auto;
}
.main__container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.main__title {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 17px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
  margin: 0 0 0 9px;
}
.main__subtitle {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 17px;
  text-align: left;
  letter-spacing: -1.6px;
  line-height: normal;
}
.main__icon {
  position: absolute;
  bottom: 10%;
  width: 36px;
  height: 54px;
}
.main__icon img {
  max-width: 100%;
  height: auto;
}